@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap");

:root {
  --body-bg: #222831;
  --wrapper-bg: #393e46;
  --border-anchor-color: #f96d00;
  --text-color: #f2f2f2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Nanum Gothic", sans-serif;
}

body {
  background-color: var(--body-bg);
}

.wrapper {
  max-width: 93.75rem;
  height: 125rem;
  margin: 32px auto;
  background-color: var(--wrapper-bg);
  border: 0.5rem solid var(--border-anchor-color);
  border-radius: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.exercise-wrapper,
.wrapper aside {
  color: var(--text-color);
  padding: 1.375rem;
  margin: 2rem auto;
  max-width: 500px;
}

h1 {
  font-size: 22px;
}

p {
  margin-top: 1rem;
  margin-bottom: 4rem;
}

a {
  color: var(--text-color);
}

a:hover {
  color: #f96d00;
}
